standard-model-crop.pdf
standard-model-crop.png
standard-model.aux
standard-model.log
standard-model.pdf
standard-model.tex
stock-spec-catch-model.aux
stock-spec-catch-model.log
stock-spec-catch-model.pdf
stock-spec-catch-model.synctex.gz
